:root {
    --primary-color: #203239;
    --accent-color: #FF7527;
    --white-color: #FFFFFF;
    --bgc-color: #EEEDDE;
    --bgc-color-page: #E5E5E5;
    --bgc-second-color-button: #D6D5C7;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

html {
    background-color: var(--bgc-color-page);
}

body {
    background-color: var(--white-color);
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 1366px;
    letter-spacing: 50px 1px 100px 100px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header,
.hero {
    background-color: var(--bgc-color);
}

/*Logo */

.logo-o {
    color: var(--primary-color);
    font-style: italic;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 600;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 1px;

}

.logo-mah {
    color: var(--primary-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

/*nav*/

.nav {
    margin-left: 525px;

}

.nav,
.inline-block {
    display: inline-block;
}

.link {
    position: relative;
    color: var(--primary-color);
    text-decoration: none;
}

.link:hover {
    font-weight: 600;
}

.link::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 3px;
}

.link:hover:before {
    width: 100%;
}

.inline-block {
    margin-top: 63px;
    margin-right: 100px;
}

/* hero */

.hero {}

.hero-title {
    padding-top: 100px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 56px;
    margin-bottom: 25px;
}

.text-hero {
    margin-left: 100px;
    width: 545px;
    color: rgba(32, 50, 57, 0.55);
    margin-bottom: 55px;
}

.location {
    margin-left: -645px;
    vertical-align: middle;
    
}


input[type="text"] {
    width: 675px;
    height: 70px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    margin-left: 100px;
    padding-left: 55px;
    padding: 23px auto 23px auto;
    font-family: 'Poppins';
    font-weight: 300;
    color: rgba(32, 50, 57, 0.55);
    
}

.submit {
    color: var(--white-color);
    background: #203239;
    box-shadow: 0px 6px 8px rgba(32, 50, 57, 0.25);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 140px;
    height: 50px;
    margin-left: -155px;
}

.info {
    margin: 55px 5px 60px 100px;
}

.text-info {
    display: inline-block;
    margin-right: 75px;
    margin-bottom: 60px;
    color: rgba(32, 50, 57, 0.55);
}

.text-info-title {
    font-weight: 600;
    font-size: 56px;
    color: var(--primary-color);
}

p>span {
    color: var(--accent-color);
}

.tahun {
    color: var(--accent-color);
    font-size: 16px;
}    

.hero-img {
    margin-left: 865px;
    position: absolute;
    bottom: 170px;
    height: 522px;
}

/* Контент */

.title {
    font-weight: 600;
    font-size: 36px;
    margin: 100px 735px 60px 100px;
}

.project {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
}

.project:hover {
    border: 1px solid var(--bgc-color);
    border-radius: 10px;
}

.project-title {
    font-weight: 500;
    font-size: 16px;
    margin: 15px auto 10px 30px;
}

.acent {
    color: var(--accent-color);
    margin-top: 15px;
    margin-left: 265px;
    position: absolute;
    font-weight: 500;
}

.project-text {
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(32, 50, 57, 0.55);
}

li[class="project"]>a {
    color: var(--primary-color);
    font-weight: 500;
    margin-left: 30px;
    padding-left: 5px;
    position: absolute;
    margin-top: 250px;
    padding-top: 2px;
}

.rectangle {
    width: 8px;
    height: 30px;
    background: #FF7527;
    border-radius: 5px;
    position: absolute;
    margin-top: 15px;
}    

.rectangle-two {
    width: 40px;
    position: absolute;
    height: 30px;
    background: #D6D5C7;
    margin-top: 250px;
    margin-left: 30px;
}    

.bi-bi-arrow-right{
    margin-left: 10px;
    vertical-align: middle;
}

/* Вибір споживача */

.choice {
    background-color: var(--bgc-color);
    height: 840px;     /*!!!!!!!!!!!!!!!!!*/
}

.choice-text {
    color: var(--accent-color);
    margin: 70px auto 10px 100px;
    padding-top: 65px;
    font-weight: 500;
}

section[class="choice"]>h3 {
    font-weight: 600;
    font-size: 36px;
    margin-left: 100px;
}

.img-one {
    margin: 65px auto 165px 100px;
    position: absolute;
}   

.img-two { 
    width: 358px;
    height: 490px;
    margin: 125px auto 70px 265px;
    position: absolute;
    filter: drop-shadow(0px 101.786px 81.4289px rgba(0, 0, 0, 0.11)) drop-shadow(0px 22.7353px 18.1882px rgba(0, 0, 0, 0.0655718)) drop-shadow(0px 6.76889px 5.41511px rgba(0, 0, 0, 0.0444282));
    border-radius: 12px;
}